@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}        

body {
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

  /*color: #fff;*/
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

#container {
  width: 300px;
  height: 300px;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, .3);
  transform-origin: center center;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}